//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require fonts
//= require skeleton/base
//= require skeleton/layout
//= require skeleton/skeleton
//= require mobile
//= require foghorn
//= require_self

@import 'compass/css3'

$header_font: 'Libre Baskerville Bold', serif
$header_italic_font: 'Libre Baskerville Italic', serif

h1, h2, h3, h4, h5
  font-family: $header_font

hr
  margin: 1em 0

a
  text-decoration: none
  color: #333

  &:visited
    color: #333

  &:hover
    text-decoration: none
    color: #666

body
  background-color: #e3e3e1
  background-image: image-url('backgrounds/satinweave.png')
  background-repeat: repeat
  word-wrap: break-word

#header-container
  position: relative
  width: 100%
  height: 300px
  background-color: #333
  margin-bottom: 30px
  @include box-shadow(#333, 1px, 1px, 1px)
  border-bottom: 1px solid #666
  background-image: image-url('backgrounds/escheresque_ste.png')
  z-index: 10

  #header
    width: 100%
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    opacity: 0
    @include transition(opacity 0.5s ease-in)
    z-index: 100
    position: absolute
    top: 0

  .container
    height: 100%

  .spinner-container
    position: absolute
    top: 50%
    left: 50%

#logo
  position: absolute
  top: 200px
  z-index: 200

  a
    font-family: $header_font
    color: #efefef
    color: white
    font: bold 24px/45px Helvetica, Sans-Serif
    letter-spacing: -1px
    background: rgb(0, 0, 0)
    background: rgba(0, 0, 0, 0.5)
    padding: 10px

.post
  margin-bottom: 15px
  padding-bottom: 15px
  border-bottom: 1px dotted #333

.mini-body *
  display: none

.mini-body
  p:first-of-type
    display: block !important

.meta
  font-family: $header_italic_font

  ul
    list-style: none
    padding-left: 0
    font-size: 14px

  li
    @include inline-block
    margin-bottom: 0

  .date
    padding-right: 10px
    border-right: 1px dotted #666

  .comments
    padding: 0 10px
    border-right: 1px dotted #666

  .tags
    padding-left: 10px

  & *
    color: #999 !important